<tr id="<%= dom_id category %>">
  <td class="col-3"><%= category.name %></td>
  <td class="col-8"><%= category.description %></td>
  <td class="col-1">
    <%= render "edit", category: category %>
    <div class="d-inline-block"> <%= link_to "Delete", category_path(category), class: "btn btn-danger btn-sm ", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %></div>
  </td>
</tr>
