<button type="button" class="btn btn-warning btn-sm" data-bs-toggle="modal" data-bs-target="#editModal-<%= category.id %>">
  Edit
</button>
<div class="modal fade" id="editModal-<%= category.id %>" tabindex="-1" aria-labelledby="editModalLabel-<%= category.id %>" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content p-2">
      <div class="modal-header">
        <h5 class="modal-title" id="editModalLabel-<%= category.id %>">Edit Category</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <%= render "form", category: category %>
      </div>
    </div>
  </div>
</div>