<div class="container d-flex justify-content-center">
  <div class="card" style="width: 100%; border: none" >
    <div id="<%= dom_id(operation) %>-errors"></div>
    <%= form_with(model: operation, class: "needs-validation") do |form| %>
      <div class="mb-3">
        <%= form.label :amount, class: "form-label" %>
        <%= form.number_field :amount, class: "form-control", placeholder: "Enter amount" %>
      </div>
      <div class="mb-3">
        <%= form.label :odate, "Date", class: "form-label" %>
        <%= form.date_field :odate, class: "form-control" %>
      </div>
      <div class="mb-3">
        <%= form.label :description, class: "form-label" %>
        <%= form.text_field :description, class: "form-control", placeholder: "Enter description" %>
      </div>
      <div class="mb-4">
        <%= form.label :category_id, "Category", class: "form-label" %>
        <%= form.collection_select :category_id, current_user.categories, :id, :name, { include_blank: "" }, class: "form-select" %>
      </div>
      <div class="d-grid gap-2">
        <%= form.submit "Save Operation", class: "btn btn-success" %>
      </div>
    <% end %>
  </div>
</div>
