<tr id="<%= dom_id operation %>">
  <td class="col-4"><%= operation.description %></td>
  <td class="col-2 text-center">
    <span class="badge bg-primary"><%= operation.amount %></span>
  </td>
  <td class="col-2"><%= operation.category.name if operation.category %></td>
  <td class="col-2 text-muted"><%= operation.odate %></td>
  <td class="col-1">
    <div class="d-inline-block">
      <%= button_to "Edit", edit_operation_path(operation), method: :get,
        data: { turbo_stream: true, bs_toggle: "modal", bs_target: "#editModal"  },
        class: "btn btn-warning btn-sm" %>
    </div>
    <%= link_to "Delete", operation,        
        data: { turbo_method: :delete, turbo_confirm: "Are you sure?" },
        class: "btn btn-danger btn-sm" %>
  </td>
</tr>
